// BASIC
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

#app {
  background-image: url(../images/bg.jpg);
  background-size: cover;
  height: 100vh;
}

#app2 {
  background-color: $pink;
}

// REVERSE NAME
.reverse-name {
  font-family: "Lobster", cursive;
  font-size: 40px;
  text-align: center;
  line-height: 1px;
  padding-top: 40px;
  animation: flip;
  animation-duration: 3s;
}

.reverse-button {
  font-family: "Varela Round", sans-serif;
  font-size: 15px;
  color: $white;
  border: none;
  border-radius: 20px;
  padding: 8px 14px;
  background: $black;
  outline: none;
  display: table;
  margin: auto;
  margin-top: 40px;
  letter-spacing: 1px;

  &:hover {
    color: $gray;
  }
}

.textInput {
  border-radius: 20px;
  border: none;
  height: 30px;
  width: 200px;
}

// TO DO LIST
#todo-box {
  font-family: "Varela Round", sans-serif;
  letter-spacing: 1px;
  display: table;
  margin: auto;
}

.todo-title {
  margin-top: 50px;
  text-align: center;
}

.futureTask {
  list-style: none;
  color: gray;
  display: table;
  margin: auto;
}

.input-box {
  font-family: "Varela Round", sans-serif;
  letter-spacing: 1px;
  font-size: 15px;
  outline: none;
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  line-height: 30px;
  width: 230px;
  height: 35px;
  padding: 8px;
}

.add-button {
  border: none;
  outline: none;
  margin-left: 10px;
  vertical-align: middle;
}

.close-button {
  border: none;
  margin-left: 18px;
  margin-top: 10px;
  outline: none;
  vertical-align: bottom;
}

.taskList {
  font-family: "Varela Round", sans-serif;
  letter-spacing: 1px;
  margin-left: 10px;
}

ul li:nth-child(n + 9) {
  display: none;
}

// チェックボックス（非表示）
input[type="checkbox"] {
  display: none;
}

footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}

// V BUTTON
.scroll-down {
  line-height: none;
  animation: bounce infinite;
  animation-duration: 2s;
}

// TOP BUTTON
.iconTop {
  display: table;
  margin: auto;
}

.top {
  font-family: "Varela Round", sans-serif;
  letter-spacing: 1px;
  font-size: 12px;
  text-decoration: none;
  text-align: center;
  padding-bottom: 10px;
}

// 自己紹介ページ
.name {
  font-family: "Lobster", cursive;
  font-size: 40px;
  margin-left: 20px;
  text-align: center;
  padding-top: 30px;
}

.about-me {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 50px;
  margin-left: 10px;
  text-align: center;
}

.carrer {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 30px;
  margin-left: 10px;
  text-align: center;
}

.skills {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 30px;
  margin-left: 10px;
  text-align: center;
}

.offer {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 30px;
  margin-left: 10px;
  text-align: center;
}

// LINES
hr {
  margin: auto;
  border: 1px solid;
  border-color: $gray;
}

.under-hr {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
}

.under-hr-skill {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 30px;
}

.intro-details {
  font-family: "M PLUS Rounded 1c", sans-serif;
  margin-left: 20px;
  margin-bottom: 50px;
  text-align: center;
}

// SKILL SET
.container {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  margin: auto;
  text-align: center;
  font-family: "Varela Round", sans-serif;
  letter-spacing: 1px;
}

.icon-html,
.icon-css,
.icon-sass,
.icon-bs,
.icon-js,
.icon-vue,
.icon-nodejs,
.icon-github,
.icon-vs,
.icon-gimp {
  margin: 20px;
}
