$black: black;
$white: white;
$gray: gray;
$yellow: rgb(250, 237, 119);
$pink: #efe8ea;

// FONTS
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");

@import 'sp.scss';

@media screen and (min-width: 601px) {
@import 'pc.scss';
}